@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", "Plus Jakarta Sans Placeholder", sans-serif;
}
:root {
  /* Color Palette - CSS Custom Properties */
  --color-pumpkin: #ff6e13;  /* Pumpkin */
  --color-woodsmoke: #111418; /* woodsmoke */
  --color-pampas: #f5f1ef; /* pampas */
  --color-hit-pink: #ffa972; /* hit-pink */
  --color-mid-gray: #606164; /* mid-gray */
  --color-romantic: #ffd8c0; /* romantic */
  --color-silver-sand: #c5c6c7; /* silver-sand */
  --color-outer-space: #313334; /* outer-space */
  --color-athen-gray:#f6f7f9; /* athen-gray */
  --color-rust:#626284;

  /* RGB versions for transparency support */
  --color-pumpkin-rgb: 255, 110, 19;
  --color-woodsmoke-rgb: 17, 20, 24;
  --color-pampas-rgb: 245, 241, 239;
  --color-hit-pink-rgb: 255, 169, 114;
  --color-mid-gray-rgb: 96, 97, 100;
  --color-romantic-rgb: 255, 216, 192;
  --color-silver-sand-rgb: 197, 198, 199;
  --color-outer-space-rgb: 49, 51, 52;
  --color-athen-gray-rgb: 246, 247, 249;
  --color-rust-rgb: 98, 98, 132;
}


@theme {
  --color-pumpkin: #ff6e13;
  --color-woodsmoke: #111418;
  --color-pampas: #f5f1ef;
  --color-hit-pink: #ffa972;
  --color-mid-gray: #606164;
  --color-romantic: #ffd8c0;
  --color-silver-sand: #c5c6c7;
  --color-outer-space: #313334;
  --color-rust: #626284;
  --color-athen-gray: #f6f7f9;
}



  /* --color-pumpkin: #ff6e13; 
  --color-woodsmoke: #111418; 
  --color-pampas: #f5f1ef; 
  --color-hit-pink: #ffa972; 
  --color-mid-gray: #606164; 
  --color-romantic: #ffd8c0; 
  --color-silver-sand: #c5c6c7; 
  --color-outer-space: #313334; 

  --color-pumpkin-rgb: 255, 110, 19;
  --color-woodsmoke-rgb: 17, 20, 24;
  --color-pampas-rgb: 245, 241, 239;
  --color-hit-pink-rgb: 255, 169, 114;
  --color-mid-gray-rgb: 96, 97, 100;
  --color-romantic-rgb: 255, 216, 192;
  --color-silver-sand-rgb: 197, 198, 199;
  --color-outer-space-rgb: 49, 51, 52; */



